Repository stardustmeg/rss-youtube: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

.lintstagedrc:

{
  "*": ["prettier --write --ignore-unknown"],
  "*.{cjs,js,jsx,ts,tsx}": ["eslint --max-warnings 0"],
  "*.scss": "npx stylelint --fix"
}

feat: implement favorite actions
  package.json
  src/app/redux/actions/actions.ts
  src/app/redux/reducers/reducers.ts
  src/app/redux/selectors/selectors.ts
  src/app/redux/state.models.ts
  src/app/shared/components/custom-button/custom-button.component.scss
  src/app/styles/colors.module.scss
  src/app/youtube/components/delete-button/delete-button.component.html
  src/app/youtube/components/delete-button/delete-button.component.ts
  src/app/youtube/components/favorite-button/favorite-button.component.html
  src/app/youtube/components/favorite-button/favorite-button.component.ts
  src/app/youtube/components/new-video-item-form/new-video-item-form.component.ts
  src/app/youtube/components/search-results-list/components/video-item-card/video-item-card.component.html
  src/app/youtube/components/search-results-list/components/video-item-card/video-item-card.component.ts
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.html
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.scss
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.ts
  test-inquirer.js
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: update response interfaces
  src/app/redux/actions/actions.ts
  src/app/redux/reducers/reducers.ts
  src/app/redux/state.models.ts
  src/app/youtube/components/favorite-button/favorite-button.component.ts
  src/app/youtube/components/new-video-item-form/new-video-item-form.component.ts
  src/app/youtube/components/search-results-list/components/video-item-card/video-item-card.component.html
  src/app/youtube/components/search-results-list/components/video-item-card/video-item-card.component.ts
  src/app/youtube/models/response.model.ts
  src/app/youtube/models/video-item.model.ts
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.html
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.ts
  src/app/youtube/services/video-data/video-data.service.ts
  src/app/youtube/services/youtube-api/youtube-api.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement unsubscription for cards
  src/app/styles/colors.module.scss
  src/app/youtube/components/search-results-list/components/video-item-card/video-item-card.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: implement favorites page
  src/app/app.routes.ts
  src/app/core/header/header.component.html
  src/app/shared/constants/routes.ts
  src/app/youtube/pages/favorites-page/favorites-page.component.html
  src/app/youtube/pages/favorites-page/favorites-page.component.scss
  src/app/youtube/pages/favorites-page/favorites-page.component.spec.ts
  src/app/youtube/pages/favorites-page/favorites-page.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add smooth transition between pages
  src/app/app.config.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement favorite videos list
  src/app/app.config.ts
  src/app/redux/actions/actions.ts
  src/app/redux/reducers/reducers.ts
  src/app/redux/selectors/selectors.ts
  src/app/redux/state.models.ts
  src/app/youtube/components/favorite-button/favorite-button.component.html
  src/app/youtube/components/favorite-button/favorite-button.component.ts
  src/app/youtube/components/search-results-list/components/video-item-card/video-item-card.component.html
  src/app/youtube/components/search-results-list/components/video-item-card/video-item-card.component.ts
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.html
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.ts
  src/app/youtube/pages/favorites-page/favorites-page.component.html
  src/app/youtube/pages/favorites-page/favorites-page.component.scss
  src/app/youtube/pages/favorites-page/favorites-page.component.ts
  test-inquirer.js
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

feat: add placeholder for not loaded images
  src/app/redux/reducers/reducers.ts
  src/app/styles/colors.module.scss
  src/app/youtube/components/search-results-list/components/video-item-card/video-item-card.component.html
  src/app/youtube/components/search-results-list/components/video-item-card/video-item-card.component.scss
  src/app/youtube/components/search-results-list/components/video-item-card/video-item-card.component.ts
  src/app/youtube/constants/loadTimeout.ts
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.html
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.scss
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.ts
  src/assets/img/video-not-found.jpg
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: save videos as object
  src/app/redux/reducers/reducers.ts
  src/app/redux/state.models.ts
  src/app/youtube/services/video-data/video-data.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement smooth sorting block showing
  src/app/core/header/header.component.html
  src/app/core/header/header.component.scss
Due: prettier --write --ignore-unknown, npx stylelint --fix

feat: implement effect to save videos on search
  src/app/redux/actions/actions.ts
  src/app/redux/effects/effects.ts
  src/app/redux/reducers/reducers.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add user notifications for video actions
  src/app/app.config.ts
  src/app/shared/services/snackBar/constants/user-message.ts
  src/app/youtube/components/delete-button/delete-button.component.html
  src/app/youtube/components/delete-button/delete-button.component.ts
  src/app/youtube/components/favorite-button/favorite-button.component.html
  src/app/youtube/components/favorite-button/favorite-button.component.ts
  src/app/youtube/components/search-results-list/components/video-item-card/video-item-card.component.html
  src/app/youtube/components/search/search.component.ts
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.html
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add custom cards info for testing
  src/app/redux/reducers/reducers.ts
  src/app/shared/services/snackBar/constants/user-message.ts
  src/app/youtube/pages/favorites-page/favorites-page.component.scss
  src/assets/db/test-db/kittens.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

fix: sorting chips
  src/app/youtube/components/sort/sort.component.html
  src/app/youtube/components/sort/sort.component.ts
  src/environments/environment.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implememnt stronger typing for sort chips
  src/app/app.routes.ts
  src/app/auth/guards/auth/auth.guard.ts
  src/app/shared/helpers/isKeyOf.ts
  src/app/youtube/components/sort/constants/sortCriteria.ts
  src/app/youtube/components/sort/helper/isSortCriterion.helper.ts
  src/app/youtube/components/sort/sort.component.ts
  src/app/youtube/constants/sort-option.ts
  src/app/youtube/services/video-data/video-data.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add favorite selector by id from all videos as per requirements
  src/app/redux/selectors/selectors.ts
  src/app/youtube/pages/favorites-page/favorites-page.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: implement pagination
  src/app/core/services/navigation/navigation.service.ts
  src/app/redux/actions/actions.ts
  src/app/redux/effects/effects.ts
  src/app/redux/reducers/reducers.ts
  src/app/redux/selectors/selectors.ts
  src/app/redux/state.models.ts
  src/app/shared/components/custom-button/custom-button.component.scss
  src/app/shared/pagination/pagination.component.html
  src/app/shared/pagination/pagination.component.scss
  src/app/shared/pagination/pagination.component.spec.ts
  src/app/shared/pagination/pagination.component.ts
  src/app/youtube/components/search-results-list/search-results-list.component.html
  src/app/youtube/components/search-results-list/search-results-list.component.scss
  src/app/youtube/components/search-results-list/search-results-list.component.ts
  src/app/youtube/constants/loadTimeout.ts
  src/app/youtube/models/response.model.ts
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.html
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.scss
  src/app/youtube/services/video-data/video-data.service.ts
  src/app/youtube/services/youtube-api/youtube-api.service.ts
  src/assets/db/test-db/kittens.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: add navigation service
  src/app/shared/pagination/pagination.component.html
  src/app/shared/pagination/pagination.component.ts
  src/app/shared/services/pagination/pagination.service.spec.ts
  src/app/shared/services/pagination/pagination.service.ts
  src/environments/environment.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: display custom cards on first page only
  src/app/youtube/services/video-data/video-data.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: update components change detection
  src/app/shared/components/pagination/pagination.component.html
  src/app/shared/components/pagination/pagination.component.scss
  src/app/shared/components/pagination/pagination.component.spec.ts
  src/app/shared/components/pagination/pagination.component.ts
  src/app/youtube/components/search-results-list/search-results-list.component.ts
  src/app/youtube/pages/main-page/main-page.component.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: convert observables to signals
  src/app/shared/services/pagination/pagination.service.ts
  src/environments/environment.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: update delete icon
  src/app/youtube/components/delete-button/delete-button.component.html
Due: prettier --write --ignore-unknown

refactor: update navigation service
  src/app/core/services/navigation/navigation.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: update pagination to show current page number
  src/app/shared/components/pagination/pagination.component.html
  src/app/shared/components/pagination/pagination.component.scss
  src/app/shared/services/pagination/pagination.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

chore: update app to zoneless
  angular.json
  src/app/app.config.ts
  src/app/youtube/constants/loadTimeout.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: favorite page template
  src/app/app.routes.ts
  src/app/youtube/pages/favorites-page/favorites-page.component.html
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

refactor: validators and login form
  src/app/app.component.html
  src/app/app.config.ts
  src/app/auth/components/login-form/login-form.component.html
  src/app/auth/components/login-form/login-form.component.scss
  src/app/auth/components/login-form/login-form.component.ts
  src/app/shared/components/custom-button/custom-button.component.scss
  src/app/shared/validators/validators.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0, npx stylelint --fix

refactor: remove perfectionist
  .eslintrc.json
  src/app/auth/components/login-form/login-form.component.ts
  src/app/auth/components/user/user.component.ts
  src/app/auth/services/login/login.service.ts
  src/app/core/header/header.component.ts
  src/app/core/services/local-storage/local-storage.service.ts
  src/app/core/services/navigation/navigation.service.ts
  src/app/redux/effects/effects.ts
  src/app/shared/components/custom-button/custom-button.component.ts
  src/app/shared/components/custom-link/custom-link.component.ts
  src/app/shared/components/pagination/pagination.component.ts
  src/app/shared/services/pagination/pagination.service.ts
  src/app/shared/validators/helpers/helper.ts
  src/app/shared/validators/validators.ts
  src/app/youtube/components/delete-button/delete-button.component.ts
  src/app/youtube/components/favorite-button/favorite-button.component.ts
  src/app/youtube/components/filter/filter.component.ts
  src/app/youtube/components/new-video-item-form/helpers/createNewCard.ts
  src/app/youtube/components/new-video-item-form/helpers/generateVideoId.ts
  src/app/youtube/components/new-video-item-form/new-video-item-form.component.html
  src/app/youtube/components/new-video-item-form/new-video-item-form.component.ts
  src/app/youtube/components/search/search.component.ts
  src/app/youtube/components/sort/sort.component.ts
  src/app/youtube/components/tags-form/tags-form.component.ts
  src/app/youtube/directives/change-color/change-color.directive.ts
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.ts
  src/app/youtube/pages/favorites-page/favorites-page.component.ts
  src/app/youtube/services/video-data/video-data.service.ts
  src/app/youtube/services/youtube-api/youtube-api.service.ts
  src/assets/db/test-db/kittens.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: initiate jest testing
  angular.json
  jest.config.js
  package.json
  setup-jest.ts
  src/app/app.component.spec.ts
  src/app/auth/components/login-form/login-form.component.spec.ts
  src/app/auth/pages/login-page/login-page.component.spec.ts
  src/app/core/header/header.component.spec.ts
  src/app/core/not-found-page/not-found-page.component.spec.ts
  src/app/core/services/navigation/navigation.service.spec.ts
  src/app/shared/components/pagination/pagination.component.spec.ts
  src/app/shared/services/pagination/pagination.service.spec.ts
  src/app/youtube/components/delete-button/delete-button.component.spec.ts
  src/app/youtube/components/favorite-button/favorite-button.component.spec.ts
  src/app/youtube/components/filter/filter.component.spec.ts
  src/app/youtube/components/new-video-item-form/new-video-item-form.component.spec.ts
  src/app/youtube/components/search-results-list/components/video-item-card/video-item-card.component.spec.ts
  src/app/youtube/components/search-results-list/search-results-list.component.spec.ts
  src/app/youtube/components/search/search.component.spec.ts
  src/app/youtube/components/sort/sort.component.spec.ts
  src/app/youtube/components/tags-form/tags-form.component.spec.ts
  src/app/youtube/components/video-statistics/video-statistics.component.spec.ts
  src/app/youtube/pages/admin-page/admin-page.component.spec.ts
  src/app/youtube/pages/detailed-info-page/detailed-info-page.component.spec.ts
  src/app/youtube/pages/favorites-page/favorites-page.component.spec.ts
  src/app/youtube/pages/main-page/main-page.component.spec.ts
  src/app/youtube/services/video-data/video-data.service.spec.ts
  src/app/youtube/services/youtube-api/youtube-api.service.spec.ts
  tsconfig.spec.json
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: cover auth and core modules with tests
  .eslintrc.json
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.routes.spec.ts
  src/app/auth/components/login-form/login-form.component.spec.ts
  src/app/auth/guards/auth/auth.guard.spec.ts
  src/app/auth/pages/login-page/login-page.component.spec.ts
  src/app/core/header/header.component.spec.ts
  src/app/core/not-found-page/not-found-page.component.spec.ts
  src/main.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

feat: add redux tests
  src/app/redux/actions/action.spec.ts
  src/app/redux/effects/effects.spec.ts
  src/app/redux/effects/effects.ts
  src/app/redux/reducers/reducers.spec.ts
  src/app/redux/selectors/selectors.spec.ts
  src/app/youtube/components/models/form-group.model.ts
  src/app/youtube/components/new-video-item-form/helpers/createNewCard.ts
  src/app/youtube/components/new-video-item-form/new-video-item-form.component.ts
  src/app/youtube/services/video-data/video-data.service.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0

test: more functionality
  src/app/auth/services/auth-token/fake-auth-token.service.spec.ts
  src/app/core/services/local-storage/helpers/helper.spec.ts
  src/app/core/services/local-storage/local-storage.service.spec.ts
  src/app/shared/tests/test.spec.ts
  src/app/youtube/directives/change-color/helpers/determineColor.spec.ts
  src/app/youtube/pipes/filter/filter.pipe.spec.ts
  src/app/youtube/pipes/search/search.pipe.spec.ts
  src/app/youtube/pipes/sort/sort.pipe.spec.ts
  src/app/youtube/services/http-interceptor/api-interceptor.spec.ts
Due: prettier --write --ignore-unknown, eslint --max-warnings 0
